@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLING */
a {
  @apply font-bold hover:text-slate-200;
}

/* BUTTONS */
.btn-primary {
  @apply bg-secondary hover:bg-secondary-dark p-2 rounded text-white font-bold;
}

.btn-warning {
  @apply bg-orange-500 hover:bg-orange-600 rounded text-white font-bold;
}

/* INPUT */
input {
  @apply bg-transparent border-b-2 border-white text-white
}

input:read-only {
  @apply bg-transparent border-b-2 border-transparent text-white;
}

input:focus {
  outline: none;
}